body {
  font-size: 16px;
  color: #fff;
  background-color: #0B0B45;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #000;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px darkgrey;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

#heading{
  text-align: center;
  margin-bottom: 30px;
  margin-top: -5px;
  text-decoration: underline;
  font-family: 'Lobster', sans-serif;
}
.section-heading{
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  color: white;
  background-color: black;
  opacity: 0.75;
      font-style: italic;
      padding: 5px 35px;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  border: 2px solid deepskyblue;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
  background: url('../images/card1.jpg') no-repeat;
  background-size: cover;
}
#specials-tile {
  background: url('../images/card2.jpg') no-repeat;
  background-size: cover;
}
#map-tile {
  background: url('../images/card3.jpg') no-repeat;
  background-size: cover;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.para{
  padding-left: 20px;
  padding-top: 20px;
  color: white;
  font-family: 'Send Flowers', cursive;
  font-size: 1.6em;
  background-color: black;
  opacity: 0.75;
}
a:hover{
  text-decoration: none;
}
/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
  .navbar-brand {
    padding-top: 30px;
    height: 80px;
  }
  #nav-list{
    display: none;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1200px) {
  #nav-list{
    display: none;
  }
  .navbar-brand {
    padding-top: 30px;
    height: 80px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 992px) {
  #nav-list{
    display: none;
  }
  .navbar-brand {
    padding-top: 30px;
    height: 80px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 20px;
    padding-left: 25px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 4vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Home Page */

  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}